<div class="ship-type">
  <header class="flex-center gap-sm">
    <span class="ship-type-name text-bold"></span>
    <div class="quantity">
      <calc-selector></calc-selector>
    </div>
    <button class="remove-btn btn-icon">×</button>
  </header>
  <div class="stats">
    <calc-stat-cube data-stat="initiative"></calc-stat-cube>
    <calc-stat-cube data-stat="hull"></calc-stat-cube>
    <calc-stat-cube data-stat="computer"></calc-stat-cube>
    <calc-stat-cube data-stat="shield"></calc-stat-cube>
    <calc-stat-cube data-stat="heal"></calc-stat-cube>
    <calc-stat-cube data-stat="ion-cannon"></calc-stat-cube>
    <calc-stat-cube data-stat="plasma-cannon"></calc-stat-cube>
    <calc-stat-cube data-stat="soliton-cannon"></calc-stat-cube>
    <calc-stat-cube data-stat="antimatter-cannon"></calc-stat-cube>
    <calc-stat-cube data-stat="rift-cannon"></calc-stat-cube>
    <calc-stat-cube data-stat="ion-missile"></calc-stat-cube>
    <calc-stat-cube data-stat="plasma-missile"></calc-stat-cube>
    <calc-stat-cube data-stat="soliton-missile"></calc-stat-cube>
    <calc-stat-cube data-stat="antimatter-missile"></calc-stat-cube>
  </div>
</div>